process {
    executor = 'slurm'
    withLabel: small {
        cpus = 1
        memory = 16.GB
	clusterOptions = '--partition=sla-prio --account=cdm8'
    }
    withLabel: medium {
        cpus = 2
        memory = 16.GB
	clusterOptions = '--partition=sla-prio --account=cdm8'
    }
    withLabel: large {
        cpus = 4
        memory = 16.GB
	clusterOptions = '--partition=sla-prio --account=cdm8'
    }
    withLabel: stage {
        storeDir = "stage/${params.organism}"
    }
    withLabel: index {
        storeDir = "bt_index/${params.organism}"
    }
}
